.text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem; 
}

.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: var(--text-divider-gap);
}

.text-divider::after {
  margin-left: var(--text-divider-gap);
}

.rcorners {
  border-radius: 25px;
  background-color: white;
}

.security-key-image {
  max-height: 70px;
  border: 3px #e7e7e7 solid;
  padding: 5px;
  background-color: #9aca3c;
}

.security-key-image-col {
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-divider {
  border-top: 2px #e7e7e7 solid;
}

.cardSpacing {
  margin-bottom: 1em;
}