.text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem; 
}

.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: var(--text-divider-gap);
}

.text-divider::after {
  margin-left: var(--text-divider-gap);
}

.rcorners {
  border-radius: 25px;
  background-color: white;
}